h1{
    font-size: 30px;
    text-align: center;
}

h2{
    font-size: 25px;
    text-align: center;
}

h3{
    font-size: 20px;
    text-align: center;
}

.image {
    max-width: 100%;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 50px;
    flex-direction: column;
}

p {
    padding: 0px;
    margin: 0px;
    text-align: justify;
}

.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/***************************************************************1************************************************/
.section--header{
    background-image: url(/assets/img/__Banner__.png);
    padding-bottom: 0px;
    padding-top: 0px;
}


/***************************************************************2************************************************/
/***************************************************************3************************************************/
/***************************************************************4************************************************/
/***************************************************************5************************************************/
/***************************************************************6************************************************/
/***************************************************************7************************************************/
/***************************************************************8************************************************/