
body {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    color: #ffffff;
}

h1,h2,h3 {
    margin: 0;
    text-align: center;
}

.image {
    max-width: auto;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}

p {
    padding: 0px;
    margin: 0px;
}
/***************************************************************button************************************************/
.btn{
    color: #ffffff; 
    border:1px solid black;
    text-align: center;
}

.btn--sm{
    padding: 7px 14px;
    color: #cad1db;
    border-radius: 8px;
}

.btn--md{}

.btn--lg{
    font-size: 36px;
    border-radius: 8px;
    padding: 16px 41px;
}

.btn--dark{
    background-color: #3d4b60;
    border-color: #3d4b60;
}

.btn--success{   
    background-color: #67bf95;
    border-color: #67bf95;
}
/***************************************************************1************************************************/
.section--header {
    width: 100%;
    background-image: url(../img/__Banner__.png);
    background-size: cover;
    padding-bottom: 240px;
    padding-top: 65px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 220px;
}

.header__logo {
    width: 240px;
            
}

.header__login {
    font-size: 20px;
    padding-right: 35px;
    padding-top: 8px;
    text-align: center;

}

.account {
    font-style: italic;
    color: #c9ced7;
    padding-right: 20px;
}

.section__content {
    display: flex;
    justify-content: space-between;
}

.section__content-right {
    display: flex;
    align-items: center;
    
}

h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 51px;
    padding-bottom: 50px;
    text-align: left;

}

.content__p {
    font-size: 26px;
    padding-right: 250px;
    line-height: 40px;
    padding-bottom: 50px;
    color: #c5d2e5;

}

.img{
    width: 300px;
    padding-right: 75px;
    padding-bottom: 44px;

}
/***************************************************************2************************************************/
.section--line {
   background-color: #f6f6f7;
   padding-top: 120px;
}
.section__line{
    display: flex;
    justify-content: space-between;
}

.line__logo{
    width: 200px;
}
/***************************************************************3************************************************/
/***************************************************************4************************************************/
/***************************************************************5************************************************/
/***************************************************************6************************************************/
/***************************************************************7************************************************/
/***************************************************************8************************************************/